<% title = "Danh sách bài viết" -%>

<h1 class="m-0">Danh sách bài viết</h1>

<a href="/blogs/add" class="btn btn-primary">Thêm bài viết</a>

<table class="table table-bordered bg-white mt-3">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Tiêu đề</th>
            <th>Nội dung</th>
            <th>Hành động</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
        <% if (blogs.length == 0) { %>
            <tr>
                <td colspan="4">No data</td>
            </tr>
        <% } else { %>
            <% blogs.forEach((blog, index) => { %>
                <tr>
                    <td class="text-center"><%= index + 1 %></td>
                    <td><%= blog.title %></td>
                    <td><%= blog.content %></td>
                    <td>
                        <a href="/blogs/edit/<%= blog._id %>" class="btn btn-warning">Sửa</a>
                        <form action="/blogs/delete/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </td>
                    <% 
                        function formatDate(date) {
                            const d = new Date(date);
                            const hours = String(d.getHours()).padStart(2, '0');
                            const minutes = String(d.getMinutes()).padStart(2, '0');
                            const day = String(d.getDate()).padStart(2, '0');
                            const month = String(d.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                            const year = d.getFullYear();

                            return `${hours}:${minutes} ${day}/${month}/${year}`;
                        }
                    %>
                    <td><%= formatDate(blog.createdAt) %></td>
                </tr>
            <% }) %>
        <% } %>

    </tbody>
</table>